{
  "project_root": "/path/to/titanium-project",
  "titanium": {
    "sdk_path": "/Library/Application Support/Titanium"
  },
  "iphone": {
    "sdk_version": "5.1"
  },
  "android": {
    "sdk_path": "/path/to/android-sdk-macosx",
    "avd_id": "1"
  }
}
